*.npy
*.pt
*.pkl

/cache
/gt


/image-extraction/distritos
/image-extraction/Inseguros-Barranco-GGZ-2016
/image-extraction/Inseguros-La_Victoria-GGZ-2016
/image-extraction/.env
/image-extraction/Inseguros
/image-extraction/Inseguros-Barranco
/image-extraction/controlInseguros.png
/graph/cache
/graph/__pycache__

/graph/checkpoints/*.pt

/graph/final_classifier/*.pkl
/graph/final_classifier/*.pkl
/graph/graph_output

/scraper
/scraper/__pycache__
/scraper/cache